:root {
  --header-bg-color: #e0ebe8;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 58px 0 0 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  background-color: var(--header-bg-color);
  width: 100%;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 50%;
  float: right;
}

.nav__list-item {
  float: right;
  margin-left: 0;
  padding: 20px;
}

.nav__link {
  text-decoration: none;
  padding: 20px;
  color: #008080;
  font-size: 1.5em;
}

/* Welcome section */

.welcome-section {
  min-height: 60vh;
  padding-top: 40vh;
  background-color: var(--header-bg-color);
  text-align: center;
  font-size: 2em;
}

.welcome-section__title {
  margin: 0;
}

.welcome-section__subtitle {
  margin: 0;
  color: rgb(0, 128, 0);
}

/* Projects */

.projects {
  text-align: center;
  color: #008080;
}

.projects__grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-content: space-around;
  grid-gap: 20px 20px;
}

.projects__title {
  text-align: center;
  font-size: 2em;
}

.projects__link {
  text-decoration: none;
  border: 2px solid lightblue;
  font-size: 1.5em;
}
.projects__image {
  border: 2px solid lightblue;
}

.projects__name {
  font-weight: 700;
  color: #008080;
  padding: 10px;
}

.projects__show-all {
  display: inline-block;
  width: auto;
  height: auto;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  font-size: 1.5em;
  font-weight: 700;
  border: 2px solid #90c695;
  background-color: rgb(224, 235, 232);
  border-radius: 5px;
  color: #008080;
}
.projects__show-all:hover {
  background-color: rgb(228, 241, 254);
}

/* Contact */

.contact {
  text-align: center;
  padding: 5% 0 5% 0;
  background: #c8f7c5;
}

.contact__title {
  font-size: 2em;
}

.contact__subtitle {
  margin-bottom: 5%;
}

.contact__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.contact__list-item {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid #90c695;
  font-weight: 700;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
}

.contact__list-item:hover {
  background: #e4f1fe;
  color: green;
}

.contact__link {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.footer {
  background: #22313f;
  color: white;
  padding: 20px;
  line-height: 40px;
  text-align: center;
}

.footer__link {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

@media screen and(max-width: 480px) {
  body {
    color: red;
  }
}
